@use 'bases/variables' as v;
@use 'bases/mixins' as m;
.sobre-festival {
    padding: 5rem 0;
    .contenido-festival {
        margin-top: 5rem;
        display: grid;
        flex-direction: column;
        justify-content: center;
        @include m.tablet {
            margin-top: 0;
        }
        h2 {
            margin-bottom: 2rem;
        }
        .fecha {
            color: v.$rosa;
            font-weight: 700;
        }
    }
    @include m.tablet {
        @include m.grid(2, 5rem)
    }
}