@use 'bases/variables' as v;
@use 'bases/mixins' as m;
.contenido-header {
    background-color: v.$verde;
    h1 {
        text-align: center;
        color: v.$blanco;
        @include m.tablet {
            margin: 0;
        }
    }
}

.contenido-header {
    padding: 1rem;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navegacion {
    a {
        display: block;
        text-align: center;
        color: v.$blanco;
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
    @include m.tablet {
        padding-left: 2rem;
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;
        a {
            margin: 0;
        }
    }
}

.header {
    @include m.tablet {
        &.fijo {
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #333;
        }
    }
}